<h3>log in to find your dream holiday</h3>
<div class="form-group">
  <form action="/sessions" method="post">
    <label for="log_in_email">Email:</label>
    <input type="email" class="form-control" id="log_in_email" placeholder="Enter email" name="login_email">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="login_password">
    <br>
    <button class="btn btn-danger" type="submit">log in</button>
  </form>
</div>
