
<h1>Log in to MakersBnB</h1>
<div class="form-group">
  <form action="/sessions" method="post">
    <label for="log_in_email">Email:</label>
    <input type="email" class="form-control" id="log_in_email" placeholder="Enter email" name="login_email">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="login_password">
    <button type="submit"> Log In </button>
  </form>
</div>
