<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>

    <div class="header">
      <h3>Your details</h3>
    </div>

      <form action='/index' method='post'>
        <div id='fields'>
          <label for='name'>name</label>
            <input type='text' name='name' value='<%=@user.name%>' required>
            <br>
          <label for='email'> email</label>
            <input type='email' name='email' value='<%=@user.email%>' required>
            <br>
          <label for='password'>password: </label>
            <input type='password' name='password'>
            <br>
          <label for='password_confirmation'>confirm password: </label>
            <input type='password' name='password_confirmation'>
            <br>
        </div>

        <div id='submit'>
          <input type='submit' value='Create Account'>
        </div>
      </form>

  </body>
</html>
