
<section id="search_area">
  <h3>
  <form action="/spaces" method="get">
    <h4>Start Date</h4>
      <select class="form-control" name="start_date" value="start_date">
        <option value="Monday">Monday
        <option value="Tuesday">Tuesday
        <option value="Wednesday">Wednesday
        <option value="Thursday">Thursday
        <option value="Friday">Friday
      </select>
      <p>
        <h4>End Date</h4>
        <select class="form-control" name="end_date">End Date
          <option value="Monday">Monday
          <option value="Tuesday">Tuesday
          <option value="Wednesday">Wednesday
          <option value="Thursday">Thursday
          <option value="Friday">Friday
        </select>
      </p>
    <button class="btn btn-danger btn-sm" type="submit">Search</button>
  </form>

</section>



<ul id="spaces">
  <% @spaces.each do |space| %>
  <div class="row">
    <article class="space">
    <div class="col-md-8">

        <h2 class="space_head"><%=space.name %></h2>
      <span class="space_desc"><%=space.description%></span><br>
      <span class="space_cost">Cost per night £<%=space.price%></span>
    </div>
    <div class="col-md-4">
      <form action='/requests' method="post">
        <p>
          <input type="hidden" name="space_id" value="<%=space.id%>">
          <button class="btn btn-danger btn-sm" type="submit" name="Request">Request to book</button>
        </p>
      </form>
    </div>
    </article>
  </div>
  <% end %>
</ul>
