<div class="container">


  <form action="/spaces" method="post" id="space_input">
    <p>Property name<br><input type="text" name="name"></p>
    <p>Description<br>
      <textarea class="form-control" rows="4" cols="40" form="space_input" name="description"></textarea>
    </p>
    <p>Cost per night<br><input type="number" name="price"></p>
    <p><input type="checkbox" name="Monday" value="Monday"> Monday</p>
    <p><input type="checkbox" name="Tuesday" value="Tuesday"> Tuesday</p>
    <p><input type="checkbox" name="Wednesday" value="Wednesday"> Wednesday</p>
    <p><input type="checkbox" name="Thursday" value="Thursday"> Thursday</p>
    <p><input type="checkbox" name="Friday" value="Friday"> Friday</p>
    <button class="btn btn-danger" type="submit" name="create space">create space</button>
  </form>
</div>
