<!DOCTYPE html>
<html>
  <head>
    <title>MBNB/Join</title>
  </head>
  <body>

    <div class="header">
      <h3>Your details</h3>
    </div>
      <form action='/users' method='post'>
        <div id='fields'>
          <label for='first_name'>name</label>
            <p><input type='text' name='first_name' required></p>

          <label for='last_name'>name</label>
            <p><input type='text' name='last_name' required></p>

          <label for='email'>email</label>
            <p><input type='email' name='email' required></p>

          <label for='password'>password:</label>
            <p><input type='password' name='password'></p>

          <label for='password_confirm'>confirm password:</label>
            <p><input type='password' name='password_confirm'></p>
        </div>

        <div id='submit'>
          <p><input type='submit' value='Create Account'><p>
        </div>
      </form>

  </body>
</html>
