
#link_style {
  border: none;
  color: blue;

}

.fergsarea {
  padding:  7px;
  margin-top: 10px;
  margin-left: 5px;
}

.marasclass {
  color: black;
  border: solid grey 1px;
  border-radius: 5%;
}

#milosid {
  color: green
}

.marasclass {
  color: pink;
}





.space {
  border: solid grey 2px;
  margin: 5px;
  padding: 4px;
}

.space_desc {

}

.container {
  /*background: black;*/
}
.space_cost {

}

.space_head {
  margin-top: 2px;
  color: red;
}
