

<ul id="spaces">

  <% @spaces.each do |space| %>
    <article class="space">
      <h2 class="space_head"><%=space.name %></h2>
    <span class="space_desc"><%=space.description%></span><br>
    <span class="space_cost">Cost per night £<%=space.price%></span>
    <form action='/requests' method="post">
      <p>
        <input type="hidden" name="space_id" value="<%=space.id%>">
        <button type="submit" name="Request">Request to book</button>
      </p>
    </form>
    </article>
  <% end %>
</ul>
