<!DOCTYPE html>
<html>
  <head>
    <title>MBNB</title>
  </head>
  <body>

    <% if current_user %>
    Logged in as: <%= current_user.first_name + " " + current_user.last_name %>
    <form action="/sessions" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" name="Log Out">Log Out</button>
    </form>
    <% end %>

    <% if flash[:errors]%>
    <%= flash[:errors]%>
    <% end %>

    <%=yield%>

    <!-- <h1>MBNB</h1>
    <div class="log_in">
      <form class="" action="/" method="post">
        <label for="email">email:</label>
          <p><input type="text" name="email"></p>
          <label for="password">Password</label>
            <p><input type="password" name="password"></p>
          <p><input type="submit" value="Log In"></p>
      </form>
      <form class="" action="/user/new" method="get">
        <p<input type="submit" value="Join MBNB!"></p>

      </form>
    </div> -->

  </body>
</html>
