<!DOCTYPE html>
<html lang='en'>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
  integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">
  <link rel="stylesheet" href="/styles.css" type="text/css">
  <title>MakersBnB</title>

</head>
<body>
<header class="navbar-fixed-top">

  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2>MakersBnB<small> it's awesome</small></h2>
        <% if flash[:errors]%>
        <%= flash[:errors]%>
        <% end %>

        <% if flash[:notice]%>
        <%= flash[:notice]%>
        <% end %>

      </div>
      <div class="col-md-5 text-right">
        <div class="row">

          <%if current_user %>
          <a href="/spaces">spaces</a><span> |</span>
          <a href="/requests">requests</a><span> |</span>
          <a href="/spaces/new">list</a>
          <div class="row">
            <div class="">
              <form id="link_style" action="/sessions" method="post">
                <span id="log_in_as">logged in as: <%= current_user.first_name + " " + current_user.last_name%></span>
                <input type="hidden" name="_method" value="delete">
                <button class="btn btn-danger btn-xs" type="submit" name="log out">log out</button>
              </form>
            </div>
          </div>
          <% else%>
          <a href="#">About</a><span> |</span>
          <a href="/sessions/new">log in</a><span> |</span>
          <a href="/">sign up</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>


<section class="body_relative">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
    <%=yield%>
      </div>
      <div class="col-md-7">
        <img src="http://static6.businessinsider.com/image/524b1b1969bedd761340fdc1-1200/cabin-loft-sitting-area.jpg"/>
      </div>
    </div>
  </div>
</section>

</body>
